*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 100%;
}
@font-face {
    font-family: "yekan";
    src: url(../assets/BYekan.ttf);
}
body{
    font-family: "yekan";
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
}
@media screen and (min-width: 576px) {
    .col-sm-1{ width: 8.33%;}
    .col-sm-2{ width: 16.66%;}
    .col-sm-3{ width: 25%;}
    .col-sm-4{ width: 33.33%;}
    .col-sm-5{ width: 41.66%;}
    .col-sm-6{ width: 50%;}
    .col-sm-7{ width: 58.33%;}
    .col-sm-8{ width: 66.66%;}
    .col-sm-9{ width: 75%;}
    .col-sm-10{ width: 83.33%;}
    .col-sm-11{ width: 91.66%;}
    .col-sm-12{ width: 100%;}
}
@media screen and (min-width: 768px) {
    .col-md-1{ width: 8.33%;}
    .col-md-2{ width: 16.66%;}
    .col-md-3{ width: 25%;}
    .col-md-4{ width: 33.33%;}
    .col-md-5{ width: 41.66%;}
    .col-md-6{ width: 50%;}
    .col-md-7{ width: 58.33%;}
    .col-md-8{ width: 66.66%;}
    .col-md-9{ width: 75%;}
    .col-md-10{ width: 83.33%;}
    .col-md-11{ width: 91.66%;}
    .col-md-12{ width: 100%;}
}
@media screen and (min-width: 1024px) {
    .col-lg-1{ width: 8.33%;}
    .col-lg-2{ width: 16.66%;}
    .col-lg-3{ width: 25%;}
    .col-lg-4{ width: 33.33%;}
    .col-lg-5{ width: 41.66%;}
    .col-lg-6{ width: 50%;}
    .col-lg-7{ width: 58.33%;}
    .col-lg-8{ width: 66.66%;}
    .col-lg-9{ width: 75%;}
    .col-lg-10{ width: 83.33%;}
    .col-lg-11{ width: 91.66%;}
    .col-lg-12{ width: 100%;}
}
@media screen and (min-width: 1280px) {
    .col-xl-1{ width: 8.33%;}
    .col-xl-2{ width: 16.66%;}
    .col-xl-3{ width: 25%;}
    .col-xl-4{ width: 33.33%;}
    .col-xl-5{ width: 41.66%;}
    .col-xl-6{ width: 50%;}
    .col-xl-7{ width: 58.33%;}
    .col-xl-8{ width: 66.66%;}
    .col-xl-9{ width: 75%;}
    .col-xl-10{ width: 83.33%;}
    .col-xl-11{ width: 91.66%;}
    .col-xl-12{ width: 100%;}
}
@media screen and (min-width: 1536px) {
    .col-xxl-1{ width: 8.33%;}
    .col-xxl-2{ width: 16.66%;}
    .col-xxl-3{ width: 25%;}
    .col-xxl-4{ width: 33.33%;}
    .col-xxl-5{ width: 41.66%;}
    .col-xxl-6{ width: 50%;}
    .col-xxl-7{ width: 58.33%;}
    .col-xxl-8{ width: 66.66%;}
    .col-xxl-9{ width: 75%;}
    .col-xxl-10{ width: 83.33%;}
    .col-xxl-11{ width: 91.66%;}
    .col-xxl-12{ width: 100%;}
}
nav{
    display: flex;
    /* background-color: red; */
    height: 7rem;
    align-items: center;
}
nav img{
    height: 5rem;
    width: auto;
    display: block;
}
nav ul{
    display: flex;
    list-style-type: none;
    /* background-color: blue; */
    width: 100%;
    /* height: 100%; */
    justify-content: left;
}
nav ul li{
    margin: 0 1rem;
}
nav ul li a{
    text-decoration: none;
}
nav ul .btn{
    all: unset;
    background-color: #fc6f03;
    border-radius: .200rem;
    padding: .9rem .8rem;
    
}
nav ul .btn a{
    color: rgb(255, 255, 255);
}
nav ul .icon{
    font-size: 2rem;
    background-color: #e9e2e2;
    border-radius: .2rem;
    padding: .5rem .6rem;
    color: rgb(75, 74, 74);
}
section{
    /* background-image: url(../assets/page-bg.jpg); */
    background-image: linear-gradient(to top, rgba(86, 87, 105, 0.8), rgba(255, 132, 31, 0.651)),
        url("../assets/page-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 27rem;
    text-align: center;
}
section h1{
    /* text-align: center; */
    padding-top: 4rem;
    color: rgb(255, 255, 255);
}
section i{
    /* margin: 0 auto; */
    color: white;
    font-size: 12rem;
    /* display: block; */
    margin-top: 2rem;

}
h2{
    font-size: 1.7rem;
    color: rgb(82, 81, 81);
    margin-top: 2rem;
}
.card{
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 2rem 1.8rem;
}
.responsive{
    width: 100%;
    height: auto;
}
.card p{
    color: rgb(82, 81, 81);
    padding: 0 .9rem;
    
}
.info{
    display: flex;
    justify-content: left;
    /* align-items: center; */
}
.info i{
    font-size: 1.2rem;   
    vertical-align: middle;
}
.info p{
    /* margin-bottom: .4rem; */
    vertical-align: middle;
    padding-bottom: .8rem;
}